<!-- <div class="container"> -->
    <main>
      
      <nav>


        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a>
       
        <a routerLink="/b" routerLinkActive="active">ÜBER UNS</a>
  
        <a routerLink="/c" routerLinkActive="active">GALERY</a>
  
        <a routerLink="/e" routerLinkActive="active">VIDEO</a>
  
        <a routerLink="/w" routerLinkActive="active">MEIN ANGEBOT</a>

        <a routerLink="/f" routerLinkActive="active">KONTAKT</a>
      
      </nav>
    
      <div class="examples">
        <router-outlet></router-outlet>
      </div>
    </main>
  <!-- </div> -->
